/* Add this to your Login.css file */
body, html {
  margin: 0;
  padding: 0;
}
.login-container {
  margin-top: 100px;
  margin-left: 540px;
  max-width: 400px;
  margin: 100,1000;
  padding: 30px;
  background-color: #f4f4f469;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-image: url('https://media.istockphoto.com/id/1062261710/photo/light-blue-studio-space-with-window-shadow.webp?b=1&s=612x612&w=0&k=20&c=mGs2KFyTgmB6NYDnRWP0NkWHgVj3dELaMjVTp2uHUIk='); 
}
body {
  background-image: url('https://cdn.pixabay.com/photo/2015/05/26/23/52/technology-785742_1280.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #CA99D4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #A15BE4;
}

.login-container p {
  margin-top: 15px;
  font-size: 14px;
  color: #888;
}

/* Add more custom styles as needed */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bg-video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}