/* Footer Styles */
body, html {
  margin: 0;
  padding: 0;
}
.x{
  position: absolute;
  right: 500px;
  font-size: 25px;
  top: 30px;
  color: #4267B2;
}
.y{
  position: absolute;
  right: 450px;
  font-size: 25px;
  top: 30px;
  color: #C13584;
}
footer {
  background-color: #847B8A;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  text-align: center; /* Center-align the content horizontally */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto; /* Center the content horizontally */
  display: flex;
  justify-content: center; /* Center-align the content horizontally within the container */
  align-items: center; /* Center-align the content vertically within the container */
  padding: 0 20px; /* Add padding to the sides */
}

footer p {
  font-size: 14px;
  margin: 0; /* Remove any default margin */
}

footer ul {
  list-style: none;
  display: flex;
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0; /* Remove the margin on the last list item */
}

footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
